<div class="container mt-5">
  <h2>{{ studentId ? 'Edit Student' : 'Add Student' }}</h2>
  <hr>
  <form [formGroup]="formStudent" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="col w-50 px-2 pb-4">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" formControlName="name" required>
          <span class="error-msg text-danger" *ngIf="!formStudent.get('name').valid && formStudent.get('name').pristine">Name is required</span>
        </div>
      </div>
      <div class="col w-50 px-2 pb-4">
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" class="form-control" id="age" formControlName="age" required>
          <span class="error-msg text-danger" *ngIf="!formStudent.get('age').valid && formStudent.get('age').pristine">Age is required</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col w-50 px-2 pb-4">
        <div class="form-group">
          <label for="class">Class:</label>
          <input type="text" class="form-control" id="class" formControlName="class" required>
          <span class="error-msg text-danger" *ngIf="!formStudent.get('class').valid && formStudent.get('class').pristine">Class is required</span>
        </div>
      </div>
      <div class="col w-50 px-2 pb-4">
        <div class="form-group">
          <label for="section">Section:</label>
          <input type="text" class="form-control" id="section" formControlName="section" required>
          <span class="error-msg text-danger" *ngIf="!formStudent.get('section').valid && formStudent.get('section').pristine">Section is required</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col w-50 px-2 pb-4">
        <div class="form-group">
          <label for="address">Address:</label>
          <input type="text" class="form-control" id="address" formControlName="address" required>
          <span class="error-msg text-danger" *ngIf="!formStudent.get('address').valid && formStudent.get('address').pristine">Address is required</span>
        </div>
      </div>
      <div class="col w-50 px-2">
        <div class="form-group">
          <label for="courseID">CourseID:</label>
          <select class="form-control" id="courseID" formControlName="courseId" required>
            <option *ngFor="let course of courses" [value]=course.id>{{course.id}}</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!formStudent.valid" class="w-50 btn btn-success">{{ studentId ? 'Save Student' : 'Add Student' }}</button>
  </form>
</div>
