/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";


.wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.main-nav{
  margin-left: -10px;
  margin-right: -10px;
  font-size: 1.25rem;
  ul{
    li{
      text-align: left;
      padding:10px;
    }
    a{
      text-decoration: none;
      overflow: hidden;
      display: block;
      color: black;
      transition:transform .25s linear;
      text-align: center;
      span{
        display: inline-block;
        vertical-align: top;
        transition:transform 0.3s;
        text-align: center;
        &:before{
          position: absolute;
          top: 100%;
          left: 50%;
          content: attr(data-hover);
          color: blue;
          transform: translate3d(-50%,0,0);
        }
      }
      &.active{
        transform-origin:50% 50%;
        text-decoration: underline;
        pointer-events: none;
        span{
          transform:translateY(-100%);
        }
      }
    }
    + ul{
      li{
        text-align: right;
      }
      a span:before{color:green;}
    }
  }
}

.form-control{
  height:45px;
}

.card{
  box-shadow: 0 2px 2px 0 rgba(rgb(0, 13, 128), 0.3);
}

.btn:disabled,
.btn.disabled{
  pointer-events: none;
}

.form-group{
  position: relative;
}

.error-msg{
  position: absolute;
  top:100%;
  left: 0;
}

button.calendar{
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}
